<!DOCTYPE html>
<html>
<head>
  <title>TwoFactorAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
    <%= link_to_if current_user.nil?, 'Log In', login_path %>
    <%= link_to_unless current_user.nil?, 'Log Out', logout_path %>
  </p>
  <p><%= link_to 'Register', register_path %></p>

<%= yield %>

</body>
</html>
